html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: inline;
}

.col {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

[role="link"] {
  cursor: pointer;
}

[class^="col-"] {
  margin: 0;
  padding: 0;
}

[class^="row-"] {
  margin: 0;
  padding: 0;
}

.underRow {
  width: 100%;
  height: 100%;
  background-color: #476b6b;
  color: #e0ebeb;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.underColumn {
  width: 100%;
  height: 100%;
  position: relative;
}

.mainContainer {
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  scrollbar-width: none;
  display: grid;
  justify-content: center;
  align-items: center;
}

.mainContainer::-webkit-scrollbar {
  display: none;
}

.link:hover > * {
  color: #f0f5f5!important;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
}

@media (max-width: 575px) {
  h1 {
    font-size: 2em;
  }
}

h1::after {
  content: "";
  background-color: #cc0;
  background: repeating-linear-gradient( 45deg, #cc0, #cc0 0.5rem, #1f2e2e 0.5rem, #1f2e2e 1rem );
  display: block;
  height: 0.5rem;
  margin-top: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 1rem 0 0;
}

