.taskList {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  scrollbar-width: none;
}

.taskList::-webkit-scrollbar {
  display: none;
}

.task {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.taskContext {
  color: #fff;
  padding: 5px;
  min-height: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.taskTags {
  padding: 5px;
  padding-left: 10px;
  min-height: 30px;
  font-style: italic;
  font-size: 12px;
}

.taskText {
  color: #033;
  padding: 5px;
  padding-left: 15px;
  min-height: 60px;
  font-size: 14px;
}

.taskList[data-category=backlog] .task {
  border-color: #cc0;
}

.taskList[data-category=backlog] .taskContext {
  background-color: #cc0;
}

.taskList[data-category=backlog] .taskTags {
  color: #cc0;
}

.taskList[data-category=todo] .task {
  border-color: #cc8500;
}

.taskList[data-category=todo] .taskContext {
  background-color: #cc8500;
}

.taskList[data-category=todo] .taskTags {
  color: #cc8500;
}

.taskList[data-category=active] .task {
  border-color: #900;
}

.taskList[data-category=active] .taskContext {
  background-color: #900;
}

.taskList[data-category=active] .taskTags {
  color: #900;
}

.taskList[data-category=done] .task {
  border-color: #060;
}

.taskList[data-category=done] .taskContext {
  background-color: #060;
}

.taskList[data-category=done] .taskTags {
  color: #060;
}

@media (min-width:1366px) {
  .task {
    border: 3px solid transparent;
  }
}

@media (min-width:1366px) {
  .taskContext {
    font-size: 16px;
  }
}

@media (min-width:1366px) {
  .taskTags {
    font-size: 12px;
  }
}

@media (min-width:1366px) {
  .taskText {
    font-size: 14px;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .task {
    border: 2px solid transparent;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .taskContext {
    font-size: 14px;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .taskTags {
    font-size: 10px;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .taskText {
    font-size: 12px;
  }
}

@media (min-width:576px) and (max-width:767px) {
  .task {
    border: 2px solid transparent;
  }
}

@media (min-width:576px) and (max-width:767px) {
  .taskContext {
    font-size: 14px;
  }
}

@media (min-width:576px) and (max-width:767px) {
  .taskTags {
    font-size: 10px;
  }
}

@media (min-width:576px) and (max-width:767px) {
  .taskText {
    font-size: 12px;
  }
}

@media (max-width:575px) {
  .task {
    border: 1.5px solid transparent;
  }
}

@media (max-width:575px) {
  .taskContext {
    font-size: 12px;
  }
}

@media (max-width:575px) {
  .taskTags {
    font-size: 8px;
  }
}

@media (max-width:575px) {
  .taskText {
    font-size: 10px;
  }
}

